
				<!-- 배너 광고 -->
				<div class="leaflet banner" id="bannerAllArea">
					<!-- 배너 광고 리포트 -->
					<div class="leaflet_report reportArea">
						<span class="title">배너광고 리포트</span>

                        <!--  광고 이미지 -->
                        <div id="bannerImg">
                        </div>
                        <!--  // 광고 이미지 -->

                        <div id="bannerSum">
                        </div>

                        <div id="bannerDaily">
                        </div>

                        <div id="bannerPopup"  class="imgPopup">

                        </div>

					</div>
					<!-- //배너 광고 리포트 -->

					<!-- 6개월 실적 -->
                    <div id="bannerMonth">
                    </div>
                    <!-- // 6개월 실적 -->
				</div>
				<!-- // 배너 광고 -->

				<!-- 배너 광고 리포트 없을때 -->
                <div id="bannerNoData">
                </div>
                <!-- //배너 광고 리포트 없을때 -->
