
				<!-- 위치 광고 -->
				<div class="leaflet location" id="locationAllArea">
					<!-- 위치 광고 리포트 -->
					<div class="leaflet_report reportArea">
						<span class="title">위치 광고 리포트</span>

                        <!--  광고 이미지 -->
                        <div id="locationImg"></div>
                        <!--  // 광고 이미지 -->

                        <div id="locationSum">
                        </div>

                        <div id="locationDaily">
                        </div>

                        <div id="locationPopup" class="imgPopup">
                        </div>
                    </div>
                    <!-- 위치 광고 리포트 -->

                    <div id="locationMonth">
                    </div>
                    <!--<div id="locationMonth">-->

                    <div id="locationTrend">
                    </div>
                    <!--<div id="locationTrend">-->

				</div>
				<!-- // 위치 광고 -->

                <div id="locationNoData">
                </div>
                <!--<div id="locationNoData">-->
