<!-- 시럽프렌즈 리포트 -->
<div class="syrup_friends" id="syrupFriendsAllArea" style="display:none;">
</div>
<!-- 시럽프렌즈 리포트 없을때 -->
<div id="syrupFriendsNodata" style="display:none;">
</div>
<!-- //시럽프렌즈 리포트 없을때 -->

