
			<!-- 상단 메뉴 in -->
				<div class="menu_wrap swiper-container">
					<div class="swiper-wrapper" id="menuDisplayArea">
                        <!--
						<div class="swiper-slide">
							<a href="#" id="menu1" class="mobile on"><span>모바일전단</span></a>--><!--모바일전단에만 mobile class 추가 (우측 상단 . 이미지 표시), 메뉴 활성화시 on class 적용-->
						<!--</div>
						<div class="swiper-slide">
							<a href="#" id="menu2"><span>위치광고</span></a>
						</div>
						<div class="swiper-slide">
							<a href="#" id="menu3"><span>푸시광고</span></a>
						</div>
						<div class="swiper-slide">
							<a href="#" id="menu4"><span>배너광고</span></a>
						</div>
						<div class="swiper-slide">
							<a href="#" id="menu5"><span>시럽프렌즈</span></a>
						</div>
			    	</div>-->
				</div>
            </div>
			<!-- // 상단 메뉴 in -->

