
				<!-- 모바일 전단 -->
				<div class="leaflet mobile" id="mobileAllArea">
					<!-- 모바일전단 광고 리포트 -->
					<div class="leaflet_report reportArea">
						<span class="title">모바일전단 광고 리포트</span>

						<!--  광고 이미지 -->
                        <div id="mobileImg">

                        </div>
						<!--  // 광고 이미지 -->

                        <div id="mobileSum">

                        </div>

                        <div id="mobileDaily">

                        </div>

                        <div id="mobilePopup" class="imgPopup">
                            
                        </div>
					</div>
					<!-- //모바일전단 광고 리포트 -->

                    <div id="mobileMonth">

                    </div>
                    <!--<div id="mobileMonth">-->

                    <div id="mobileTrend">

                    </div>
                    <!--<div id="mobileTrend">-->

				</div>
				<!-- // 모바일 전단 -->

                <div id="mobileNoData">

                </div>
                <!--<div id="mobileNoData">-->
