---
layout: default.hbs
title: AD Reporting
jsfile:
cssfile:
---
<body class="error">
<div class="wrap">
    <div class="container">
        <section>
            <!-- error 화면 -->
            <div class="error_wrap">
                <div class="error_top_wrap">
                    <div class="logo_wrap">
                        <span class="logo">SK Planet</span>
                    </div>
                    <div class="error_top">
                        <p class="title">
                            <em>죄송합니다.<br>
                                SKP 모바일리포트<br>
                                시스템 점검 중입니다.</em>
                        </p>
                        <p class="txt">
                            잠시뒤에 다시 접속하세요.
                        </p>
                    </div>
                    <div class="error_img">
                        <img src="/resources/img/error.png" alt="">
                    </div>
                </div>

            </div>
            <!-- // error 화면 -->
        </section>
    </div>
</div>
</body>