
<!-- modal popup -->
<div class="skp_modal_popup commonPopup commonPopupSurvey" style="display: none;">
    <div class="skp_dimmed_layer"></div>
    <div class="skp_modal_inner no_shadow">
        <div class="pop_nor_type_box">
            <h1 class="commonPopupTitle">휴대폰 OS버전 업데이트 후 설문참여가 가능합니다.</h1>
            <p class="g_txt commonPopupContent">휴대폰 설정에서 OS버전 업데이트 진행해주세요. (안드로이드 6.0이상/iOS 12이상)</p>
        </div>
        <div class="cmm_ok_module mini_mode">
            <button type="button" class="bg_item_alt commonPopupCancel">취소</button>
            <button type="button" class="commonPopupOk">확인</button>
        </div>
    </div>
</div>
<!--// modal popup -->

