<!-- footer -->
<div class="footer">
    <div class="logo">
        <img src="../resources/img/logo.png" alt="">
    </div>
    <div class="link">
        <a href="/web-event/event-terms.html?eventType=AR">서비스이용약관</a>
        <a href="/web-event/event-privacy.html?eventType=AR" style="font-weight: bold; color: #ff6315;">개인정보처리방침</a>
        <a href="https://www.skplanet.com/etc/legal02", target="_blank">위치기반서비스이용약관</a>
    </div>
    <div class="txt">
        고객이용문의 event_cs@skplanet.com<br>
        COPYRIGHT © 2021 SK Planet. ALL RIGHT RESERVED
    </div>
</div>
<!-- //footer -->