@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(https://dt-static.syrup.co.kr/kangwon/font/NotoSansKR-Medium.otf) format('opentype');
}


body {
    position: fixed;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior-y: none;
    touch-action: pan-y;
    
    display: flex;
    flex-direction: column;
    background-color: white;
}

canvas {
    bottom: 0px;
    left: 0px;
    position: absolute;
    background-color: transparent;
}

.block-capture {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

iframe {
    width: 1px; 
    min-width: 100%; 
    height: 1px; 
    min-height: 100%; 
    overflow: auto; 
    -webkit-overflow-scrolling: touch;
    border:none;
}

.item-container {
    width: 100vw; 
    display: flex;
    overflow-x: auto;
    height: 20vh;
    position: absolute;
    background-color: white;
    top : -20vh;
    -webkit-animation: listDown 0.3s forwards;
    animation: listDown 0.3s forwards;
    padding: 5px;
    box-sizing: border-box;
}

.item-container.active {
    -webkit-animation: listUp 0.3s forwards;
    animation: listUp 0.3s forwards;
}


.ar-controller {
    width: 100%; 
    height: 100%; 
    display:flex; 
    position: absolute; 
}

.ui-container.active {
    -webkit-animation: arUiDown 0.3s forwards;
    animation: arUiDown 0.3s forwards;
}

.ui-container {
    z-index: 999;
    position: absolute;
    bottom : 0;
    width: 100%;
    height: 100%;
    display: flex; 
    -webkit-animation: arUiUp 0.3s forwards;
    animation: arUiUp 0.3s forwards;
}

.item-content {
    margin: 3px 3px 3px 3px;
    position: relative;
    box-sizing: border-box;
}

#skin-list img {
    width: auto;
    display: block;
    height: 80%;
}

#skin-list p {
    width: auto;
    height: 20%;
    margin: 2px;

    text-align: center;
    font-size: 0.8rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bolder;
    color:black; 
}

#model-list img {
    margin: auto;
    display: block;
    height: 80%;
}

#model-list p {
    width: auto;
    height: 20%;
    margin: 0px;

    text-align: center;
    font-size: 0.8rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bolder;
    color:black; 
}

.select-item {}

.select-box {
    top: 0;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.select-box > i {
    -webkit-text-stroke: 1px white;
    color : #675dd0;
    font-size : 3em;
    margin: auto;
}


.select-item .select-box {
    display: flex;
    text-align: center;
}

.hide {
    display: none;
}

#bkg-eventer {
    width: 100%; 
    height:100%; 
    position: absolute; 
    top:0px;
}

#block-rot {
    width: 100%; 
    height:100%; 
    position: absolute; 
    top:0px;
    background-color: #E0E0E0;

    display: flex;
    align-items: center;
    justify-content: center;
}

#tutorial{
    width: 100%; 
    height:100%; 
    position: absolute; 
    top:0px;
    background-color: rgba(0,0,0,0.8);

    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorial-inner{
    position: absolute;
    width: 100%;
    height: 70%;
    text-align: center;
    margin-bottom: 1;
    top: 20vh;
}


#loading-page {
    width: 100%; 
    height:100%; 
    position: absolute; 
    top:0px;
    background: #a9aafd;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1;
}

.loading-inner{
    position: absolute;
    width: 100%;
    height: 80%;
    text-align: center;
    margin-bottom: 1;
    top: 15vh;
}


#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#bottom-ui {
    width: 100%; 
    height: 100%;
    min-height:10vh; 
    position: relative;
    flex-grow: 1;   
    flex-basis : auto;
}

.tutorial-inner p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    color:white;
    margin: 0px;
}

.loading-inner p{
    color : #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    margin: 0px;
}

#instagram-id {
    width: 100%; 
    height: 35px;     
    border: solid 2px gray;
    border-radius: 10px;
}


table{ border-collapse : collapse; }  /*이중선 제거*/
th,td{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
    color:black; 
    font-size: 0.7rem;

    width: 100px;
    height: 50px;
    text-align: center;
    border: 1px solid #000;
    
    vertical-align: top;	/* 위 */
    vertical-align: bottom;   /* 아래 */
    vertical-align: middle;   /* 가운데 */
}



input { 
    padding: 5px 10px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    background: #ddd;
    border: 1px solid #ccc;
}

/**/
  
input[type=button] {
    padding: 8px 15px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    background: #ddd;
    border: 1px solid #ccc;
    font-family: 'Noto Sans KR', sans-serif;
}

input[type=button]:hover {
    background: #ccc;
}

.confirm {
}

.confirm > div:first-of-type {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;

}
.confirm > div:last-of-type {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
    padding: 10px 20px;
    background: white;
    position: absolute;
    width: 80%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 13px;
    border: 1px solid #333;
}

.confirm > div:last-of-type div:first-of-type {
    padding: 10px;
}
.confirm > div:last-of-type div:last-of-type {
    text-align: right;
}

@-webkit-keyframes listUp{0%{transform:translate3d(0,100%,0)}to{transform:translate3d(0)}}
@keyframes listUp{0%{transform:translate3d(0,100%,0)}to{transform:translate3d(0)}}

@-webkit-keyframes listDown{0%{transform:translate3d(0,0,0)}to{transform:translate3d(0,100%,0)}}
@keyframes listDown{0%{transform:translate3d(0,0,0)}to{transform:translate3d(0,100%,0)}}

@-webkit-keyframes arUiUp{0%{transform:translate3d(0,50%,0)}to{transform:translate3d(0,0,0)}}
@keyframes arUiUp{0%{transform:translate3d(0,50%,0)}to{transform:translate3d(0,0,0)}}

@-webkit-keyframes arUiDown{0%{transform:translate3d(0,0,0)}to{transform:translate3d(0,50%,0)}}
@keyframes arUiDown{0%{transform:translate3d(0,0,0)}to{transform:translate3d(0,50%,0)}}

/*
    명길 코드
*/
#loadingSpriteAni{
    width: 342px; height: 620px;
    background-image: url(../img/etc/loading_logo3.png);
    transform: scale(0.55) translate(0, 5%);
    animation: moveLoding 2s infinite alternate steps(20);
}

#loadingSpriteAni2{
    transform: scale(0.7) translate(0, 0%);
}

@keyframes moveLoding{
    from{ background-position: 0% 0;}
    to { background-position:  100% 0;}
}

#loadingBar{
    width:80%; height: 5%;
    position: absolute;
    bottom: 25%;
    left: 10%;
}
#loadingBarMent{
    width:80%; height: 5%;
    position: absolute;
    bottom: 20%;
    left: 10%;
}