
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(https://dt-static.syrup.co.kr/danjong/font/NotoSansKR-Medium.otf) format('opentype');
}

.icon-box {
    display: flex;
    flex: 1;
    animation: scaleUp 0.3s forwards;
    -webkit-animation: scaleUp 0.3s forwards;

    transform-origin: center 0;
}

.icon-box > div {
    width: 100%;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    z-index: 999;
}

.icon-box > .icon-inner > div {
    width: 100%;
    text-align: center;
    background-size: 100% 100%;
}


.icon-group {
    position: relative;
}

.icon-group:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.icon-group-content{
    z-index: -999;
    position: absolute;
    border-radius: 2.3vh;
    border: 1.6vh solid transparent;
    background-color: white;
}

.icon-group .content {
    font-size: 2.2rem;
}

.icon-group .check {
    font-size: 4.0rem;
}

.icon-group p {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    margin: 1vh;
    font-size: 1.2rem;
}

.icon-inner i {
    font-size: 10vw;
    color: #675DD0;
}


.active .icon-box {
    -webkit-animation: scaleDown 0.3s forwards;
    animation: scaleDown 0.3s forwards;
}

.active .icon-skin {
    -webkit-animation: smallScaleUp 0.3s forwards;
    animation: smallScaleUp 0.3s forwards;
}

.active .icon-model {
    -webkit-animation: smallScaleUp 0.3s forwards;
    animation: smallScaleUp 0.3s forwards;
}

.icon-flip {
    font-size: 2.5rem;
    height: 100%;
}

.icon-skin {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 76 73'%3E%3Crect width='76' height='73' rx='10' fill='%23fff'/%3E%3Cpath d='M48.5 39h-21a3.5 3.5 0 0 1-3.5-3.5v-21a3.5 3.5 0 0 1 3.5-3.5h21a3.5 3.5 0 0 1 3.5 3.5v21a3.5 3.5 0 0 1-3.5 3.5Zm0-6.916-5.29-4.725L35.7 35.5h12.8ZM27.5 14.5v21h3.456l10.737-11.634a1.908 1.908 0 0 1 2.674-.149l4.133 3.689V14.5Zm7 10.5a3.5 3.5 0 1 1 3.5-3.5 3.5 3.5 0 0 1-3.5 3.5Z' fill-rule='evenodd'/%3E%3Ctext transform='translate(38 61)' font-size='15' font-family='Noto Sans KR' font-weight='500'%3E%3Ctspan x='-23.8' y='0'%3E프레임%3C/tspan%3E%3C/text%3E%3C/svg%3E");
    height: 50%;
    -webkit-animation: smallScaleDown 0.3s forwards;
    animation: smallScaleDown 0.3s forwards;

    display : flex;
    justify-content: center;
    align-items : center;
} 

#wrapper {
    display: table;
}

#content{display: table-cell; vertical-align: middle;}

 

.icon-exit {
    position: absolute;
    right: 0;
    height: 40% !important;
    width: 40% !important;
    font-size: 2.5rem;
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
}

.tutorial {
    position: absolute;
    background-size: 100% 100%;
    width: 100%;
    height: 10vh;
    top: -11vh;
}

.purple {
    background-color: #675DD0;
}

.purple-font {
    color: #675DD0;
}

.icon-tutorial-skin {
    position: absolute;
    width: 100%;
	animation: beat .35s infinite alternate;
	transform-origin: center;
    color: #675DD0;    
}

/* Heart beat animation */
@keyframes beat { to { transform: scale(1.4); } }

@-webkit-keyframes scaleUp{0%{transform:scale(.5)}to{transform:scale(1)}}
@keyframes scaleUp{0%{transform:scale(.5)}to{transform:scale(1)}}

@-webkit-keyframes scaleDown{0%{transform:scale(1)}to{transform:scale(.5)}}
@keyframes scaleDown{0%{transform:scale(1)}to{transform:scale(.5)}}

@-webkit-keyframes smallScaleUp{0%{transform:scale(1)}to{transform:scale(1.5)}}
@keyframes smallScaleUp{0%{transform:scale(1)}to{transform:scale(1.5)}}

@-webkit-keyframes smallScaleDown{0%{transform:scale(1.5)}to{transform:scale(1)}}
@keyframes smallScaleDown{0%{transform:scale(1.5)}to{transform:scale(1)}}